.start__button{
  padding: 0 30px 0 40px;
  margin-top: 50px;
  width: 300px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  transition: 0.5s;

  &:hover{
    transform: scale(1.05);
  }

  
  .start__icon{
    width: 65px;
  }

  .start__text{
    color: white;
    font-weight: 400;
  }
}

.result__button__margin{
  margin-top: 200px;
}

.start__button__programming{
  border: 1px solid #7153a7;
  background-image: linear-gradient(to left, #522f7b, #2b1845 65%);
  &:hover{
    background: linear-gradient(to right, #b2368c, #2b1845);
  }
}

.start__button__technology{
  border: 1px solid #7153a7;
  background-image: linear-gradient(to left, #522f7b, #2b1845 65%);
  &:hover{
    background: linear-gradient(to right, #b2368c, #2b1845);
  }
}

.start__button__history{
  border: 1px solid white;
  background: linear-gradient(45deg, rgba(11,11,11,1) 9%, rgba(101,88,79,1) 36%, rgba(101,88,79,1) 75%, #c1ad95 100%);
  &:hover{
    background: linear-gradient(90deg, rgba(197,176,151,1) 0%, rgba(84,72,66,1) 100%);
  }
}

.start__button__culture{
  border: 1px solid #7153a7;
  background-image: linear-gradient(to left, #522f7b, #2b1845 65%);
  &:hover{
    background: linear-gradient(to right, #b2368c, #2b1845);
  }
}

.start__button__automotive{
  border: 1px solid #b4b5c2;
background: linear-gradient(41deg, rgba(13,16,59,1) 0%, rgba(21,18,83,1) 50%, rgba(26,25,111,1) 79%, rgba(18,76,229,1) 100%);
  &:hover{
    background: linear-gradient(90deg, rgba(16,87,255,1) 5%, rgba(52,64,171,1) 71%, rgba(29,22,102,1) 100%);
  }
}

