.full__page__background {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat;
  background-position: center;
}
