.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 90px;
  align-items: center;
  justify-content: center;
}

.other__categories {
  margin-top: 0;
  position: fixed;
  right: 11%;
  top: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.category__tile {
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    transform: scale(1.05);
  }

  &__icon {
    width: 50%;
    height: 50%;
    margin: 10% 0;
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid #f849b3;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
    color: white;
  }
}

.category__tile__history {
  border: 1px solid #fff;
  background: linear-gradient(
    45deg,
    rgba(11, 11, 11, 1) 9%,
    rgba(101, 88, 79, 1) 36%,
    rgba(101, 88, 79, 1) 75%,
    #c1ad95 100%
  );
  box-shadow: 5px 5px 9px -2px #6c5399;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(197, 176, 151, 1) 0%,
      rgba(84, 72, 66, 1) 100%
    );
  }
}

.category__tile__culture {
  border: 1px solid #8f6cd1;
  background: linear-gradient(90deg, rgba(104,104,104,1) 0%, rgba(203,203,203,1) 100%);

  &:hover {
    background: linear-gradient(270deg, rgba(104,104,104,1) 0%, #f8f6fd 100%);
  }
}

.category__tile__programming {
  border: 1px solid #8f6cd1;
  background: linear-gradient(45deg, $c-backgroundDefault, #522f7b);
  box-shadow: 5px 5px 9px -2px #6c5399;

  &:hover {
    background: linear-gradient(45deg, #b2368c, #381f55);
  }
}

.category__tile__technology {
  border: 1px solid #91278e;
  background: linear-gradient(
    43deg,
    rgba(13, 15, 53, 1) 0%,
    rgba(145, 39, 142, 1) 100%
  );
  -webkit-box-shadow: 5px 5px 9px -2px #6c5399;
  box-shadow: 5px 5px 9px -2px #6c5399;
  &:hover {
    background: linear-gradient(
      243deg,
      rgba(36, 20, 69, 1) 18%,
      rgba(69, 25, 90, 1) 43%,
      rgba(114, 33, 121, 1) 78%,
      rgba(145, 39, 142, 1) 100%
    );
  }
}

.category__tile__automotive {
  border: 1px solid #8f6cd1;
  background: linear-gradient(
    45deg,
    rgba(11, 15, 54, 1) 0%,
    rgba(19, 18, 77, 1) 25%,
    rgba(23, 19, 89, 1) 53%,
    rgba(27, 22, 104, 1) 79%,
    rgba(19, 67, 208, 1) 100%
  );
  box-shadow: 5px 5px 9px -2px #6c5399;
  &:hover {
    background: linear-gradient(
      45deg,
      rgba(16, 87, 255, 1) 0%,
      rgba(16, 87, 254, 1) 14%,
      rgba(17, 81, 242, 1) 37%,
      rgba(21, 59, 190, 1) 67%,
      rgba(27, 21, 103, 1) 92%
    );
  }
}

.category__chosen {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    transform: scale(1.05);
  }
  &__icon {
    width: 63px;
    height: 63px;
    margin: 30px 0;
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid #f849b3;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
    color: white;
  }
}
