.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 90px;
  align-items: center;
  justify-content: center;
}

.other__categories {
  margin-top: 0;
  position: fixed;
  right: 11%;
  top: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.category__tile {
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  
  &__icon {
    width: 50%;
    height: 50%;
    margin: 10% 0;
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid #f849b3;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
    color: white;
  }
}

.category__tile__history{
  border: 1px solid #fff;
  border: 1px solid white;
  background: linear-gradient(45deg, rgba(11,11,11,1) 9%, rgba(101,88,79,1) 36%, rgba(101,88,79,1) 75%, #c1ad95 100%);
  
  -webkit-box-shadow: 5px 5px 9px -2px #6c5399;
  box-shadow: 5px 5px 9px -2px #6c5399;
  transition: 0.5s;
  &:hover {
    &:hover{
      background: linear-gradient(90deg, rgba(197,176,151,1) 0%, rgba(84,72,66,1) 100%);
    }
    transition: 0.5s;
    transform: scale(1.05);
  }
}

.category__tile__culture{
  border: 1px solid #8f6cd1;
  background: linear-gradient(45deg, $c-backgroundDefault, #522f7b);
  -webkit-box-shadow: 5px 5px 9px -2px #6c5399;
  box-shadow: 5px 5px 9px -2px #6c5399;
  transition: 0.5s;
  &:hover {
    background: linear-gradient(45deg, #b2368c, #381f55);
    transition: 0.5s;
    transform: scale(1.05);
  }
}
.category__tile__programming{
  border: 1px solid #8f6cd1;
  background: linear-gradient(45deg, $c-backgroundDefault, #522f7b);
  -webkit-box-shadow: 5px 5px 9px -2px #6c5399;
  box-shadow: 5px 5px 9px -2px #6c5399;
  transition: 0.5s;
  &:hover {
    background: linear-gradient(45deg, #b2368c, #381f55);
    transition: 0.5s;
    transform: scale(1.05);
  }
}

.category__tile__technology{
  border: 1px solid #8f6cd1;
  background: linear-gradient(45deg, $c-backgroundDefault, #522f7b);
  -webkit-box-shadow: 5px 5px 9px -2px #6c5399;
  box-shadow: 5px 5px 9px -2px #6c5399;
  transition: 0.5s;
  &:hover {
    background: linear-gradient(45deg, #b2368c, #381f55);
    transition: 0.5s;
    transform: scale(1.05);
  }
}
.category__tile__automotive{
  border: 1px solid #8f6cd1;
  background: linear-gradient(45deg, $c-backgroundDefault, #522f7b);
  -webkit-box-shadow: 5px 5px 9px -2px #6c5399;
  box-shadow: 5px 5px 9px -2px #6c5399;
  transition: 0.5s;
  &:hover {
    background: linear-gradient(45deg, #b2368c, #381f55);
    transition: 0.5s;
    transform: scale(1.05);
  }
}

.category__chosen {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    transform: scale(1.05);
  }
  &__icon {
    width: 63px;
    height: 63px;
    margin: 30px 0;
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid #f849b3;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
    color: white;
  }
}
