.heading__header__wrapper {
  position: relative;
  .heading__header {
    text-align: center;
    width: 50vw;
    height: 55px;
    font-weight: 500;
    opacity: 0.7;
  }

  h3.heading__header__text {
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 400;
  }
}

.heading__programming {
  background: linear-gradient(
    90deg,
    rgba(75, 33, 97, 0) 0%,
    rgba(75, 33, 97, 0.3) 32%,
    rgba(75, 33, 97, 0.3) 65%,
    rgba(75, 33, 97, 0) 100%
  );
}

.heading__history {
  background: linear-gradient(
    90deg,
    rgba(164, 145, 127, 0),
    rgba(164, 145, 127, 1),
    rgba(164, 145, 127, 0)
  );
}

.heading__automotive {
  background: linear-gradient(
    90deg,
    rgba(153, 152, 243, 0.573) 0%,
    rgba(19, 18, 78, 0.8365721288515406) 25%,
    rgba(19, 18, 78, 0.8309698879551821) 75%,
    rgba(19, 18, 78, 0.562062324929972) 100%
  );
}

.heading__culture {
  background: rgb(104, 104, 104);
  background: linear-gradient(
    274deg,
    rgba(104, 104, 104, 0.09987745098039214) 1%,
    rgba(104, 104, 104, 0.7777485994397759) 40%,
    rgba(104, 104, 104, 1) 65%,
    rgba(104, 104, 104, 1) 100%
  );
}

.heading__technology {
  background: linear-gradient(
    90deg,
    rgba(75, 33, 97, 0) 0%,
    rgba(75, 33, 97, 0.3) 32%,
    rgba(75, 33, 97, 0.3) 65%,
    rgba(75, 33, 97, 0) 100%
  );
}
