.score {
  .heading__header__wrapper {
    position: relative;
    .heading__header {
      text-align: center;
      width: 50vw;
      height: 55px;
      font-weight: 500;
      opacity: 0.7;
    }

    h3.heading__header__text {
      opacity: 1 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-weight: 400;
    }
  }

  .heading__programming {
    background: linear-gradient(to left, #271840, #4b2161, #271840);
  }

  // .heading__history {
    
  // }

  // .heading__technology {
    
  // }

  // .heading__culture {
    
  // }

  // .heading__automotive {
    
  // }

  .score__result{
    width: 170px;
    height: 170px;
    border: 1px solid #d4d0d9;
    box-shadow: 5px 5px 2px -2px  #d4d0d9;
    border-radius: 50%;
    background: linear-gradient(to right, #271840, #522e7a,);
    display: flex;
    justify-content: center;
    align-items: center;
    .score__result__text{
      color: white;
      font-size: 25px;
    }
  }
}
