.score {
  position: fixed;
  transform: translate(-85%, 0);
  left: 50%;
  top: 50%;
  .heading__header__wrapper {
    position: relative;
    .heading__header {
      text-align: center;
      width: 30vw;
      height: 55px;
      font-weight: 500;
      opacity: 0.7;
    }

    h3.heading__header__text {
      opacity: 1 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-weight: 400;
    }
  }

  .heading__programming {
    background: linear-gradient(to left, #271840, #4b2161, #271840);
  }

  // .heading__history {

  // }

  // .heading__technology {

  // }

  // .heading__culture {

  // }

  // .heading__automotive {

  // }

  .score__result {
    position: absolute;
    transform: translate(0, -50%);
    top: 27px;
    right: -1%;
    width: 150px;
    height: 150px;
    border: 2px solid #d4d0d9;
    border-radius: 50%;
    background: linear-gradient(to right, #271840, #522e7a);
    display: flex;
    justify-content: center;
    align-items: center;
    .score__result__text {
      color: white;
      font-size: 40px;
      font-weight: 400;
    }
  }
}
