/* =Colors
************************************************************** */
$c-black: #000;
$c-valhalla: #291742;
$c-purpleHeart: #5533aa;
$c-purpleHeartLighter: #6731a7;
$c-honeyFlower: #4a1d63;
$c-electricViolet: #8c00ff;
$c-silver: #cccccc;
$c-rose: #ff005d;
$c-accentPrimary: #000;
$c-backgroundDefault: #291742;
$c-deepPink: #ff0a6c;
$c-persianIndigo: #5e1682;
$c-christalle: #421e61;
$c-christalleDarker: #331e50;
$c-christalleDarker2: #301a4d;
$c-deepLilac: #9650c4;
$c-blackcurrant: #1e0f34;
$c-blackcurrantLighter: #291742;
$c-blackcurrantOpinions: #2b1845;
$c-blackcurrantOffer: #2f194a;
$c-blueDiamond: #4f3177;
$c-razzmatazz: #f10055;
$c-fuchsia: #bc64ae;
$c-windsor: #45266d;
$c-windsorDarker: #2d1949;
$c-windsorLighter: #502c80;
$c-royalPurple: #683aa6;
$c-harlequin: #3fff00;
$c-mediumSlateBlue: #924bf4;
$c-kingfisherDaisy: #5b3392;
$c-midnightBlue: #150829;
$c-lightPink: #fdb8c8;
$c-psychedelicPurple: #d438ff;
$c-heliotrope: #e558ff;
$c-blueViolet: #8a46e2;
$c-mediumOrchid: #a449d3;
$c-dallas: #6a522f;
$c-newOrleans: #e4c487;
$c-straw: #d8bc81;
$c-lemonChiffon: #ffffc8;
$c-chalky: #dfc083;
$c-brownBramble: #4c381c;
$c-muddyWaters: #ad854e;
$c-white: #fff;

$c-black: $c-accentPrimary;
/* =fonts
************************************************************** */

$f-fontAwesome: 'Font Awesome 5 Free';
$f-fontAwesomeBrands: 'Font Awesome 5 Brands';
$f-baseFontFamily: 'Roboto', sans-serif;

/* =breaks
************************************************************** */

$break-xs: 480px;
$break-mobile: 767px;
$break-mid: 991px;
$break-laptop: 1299px;
$break-high: 1600px;

/* =minimum device sizes
************************************************************** */

$tablet-min: 768px;
$desktop-min: 1200px;

/* =Grid
************************************************************** */

$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns: 12;
$padding: 15px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1199px;

/* =Paddings, Margins
************************************************************** */

$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;

/* =Buttons
************************************************************** */

$button-small: 175px;
$button-medium: 294px;
$button-large: 375px;
